@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import './variables.scss';
@import './signin.scss';

body {
  color: var(--text-primary);
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}
